
.friends
  display: flex
  overflow: auto
  overflow-y: hidden
  max-width: 500px
  gap: 15px
  height: 100px
  &::-webkit-scrollbar
    border-radius: 10px
    height: 5px
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: #4F2F00
.friend
  p
    height: 20px
    margin: 0
.ava
  width: 50px

@media screen and (max-width: 550px)
  .friends
    max-width: 300px
