$mainColor: #DFE8FF
$textColor: #001049
$boxShadow: 0 10px 50px rgb(86 133 255 / 15%)

.contactsBlock
  display: flex
  flex-direction: column
  gap: 20px
.contacts
  display: flex
  flex-direction: column
  padding-right: 30px
  gap: 20px
  overflow: auto
  overflow-x: hidden
  max-height: 500px
  &::-webkit-scrollbar
    border-radius: 10px
    width: 6px
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: #4F2F00
input
  width: 70%
.contactFormBlock
  display: flex !important
  justify-content: space-between
.contactForm
  display: flex
  width: 100%

@media screen and (max-width : 710px )
  .contacts
    padding-right: 10px
    max-height: 200px
@media screen and (max-width : 500px )
  .contactsBlock
    width: 280px
    margin-right: 0
    margin-left: auto
  .contacts
    padding: 5px