$mainColor: #DFE8FF
$textColor: #001049
$boxShadow: 0 10px 50px rgb(86 133 255 / 15%)


.person
  gap: 50px
  display: flex
  justify-items: center
  align-items: center
  .ava
    display: flex
    justify-items: center
    align-items: center
    img
      width: 150px
      height: 150px
      border-radius: 50%
  .info
    display: flex
    flex-direction: column
    gap: 5px
    width: 400px
    height: 400px
    text-align: start
    flex-wrap: wrap
    .contact_item
      padding-left: 15px
    .status
      display: flex    
  