$mainColor: #DFE8FF
$textColor: #001049
$boxShadow: 0 10px 50px rgb(86 133 255 / 15%)

.person
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  margin: auto 0
  max-width: 800px
  gap: 20px
  .ava
    margin: 0 auto
    img
      width: 150px
      height: 150px
      border-radius: 50%
  .info
    display: flex
    flex-direction: column
    text-align: start

.secondBlock
  display: flex
  flex-direction: column
  justify-content: start
.contacts
  display: flex
  flex-wrap: wrap
  gap: 5px
.contact
  padding: 15px
  background-position: 0 0
  background: url(../../../assets/images/website.svg) 50% 50% no-repeat
.contact[href *='https://www.instagram.com']
  background: url(../../../assets/images/instagram.svg) 50% 50% no-repeat
.contact[href *='https://www.youtube.com']
  background: url(../../../assets/images/youtube.svg) 50% 50% no-repeat
.contact[href *='https://www.twitter.com']
  background: url(../../../assets/images/twitter.svg) 50% 50% no-repeat
.contact[href *='https://www.github.com']
  background: url(../../../assets/images/github.svg) 50% 50% no-repeat
.contact[href *='https://www.vk.com']
  background: url(../../../assets/images/vk.svg) 50% 50% no-repeat
